<div class="header" style="display: flex; align-items: center; justify-content: space-between; padding: 20px; background-color: #f8f9fa; border-bottom: 1px solid #dee2e6;">
  <!-- Logo on the left -->
  <div class="logo">
    <img src="https://pbs.twimg.com/profile_images/1799154241984143360/8UJkaTXV_400x400.jpg" alt="Vana Logo" style="height: 50px;">
  </div>

  <!-- Moksha Network title in the center -->
  <div class="network-name">
    <h1 style="margin: 0; color: #343a40;">{{ networkName }}</h1>
  </div>

  <!-- Links to Website and Documentation on the right -->
  <div class="links">
    <a href="https://www.vana.org/" target="_blank" style="margin-right: 20px; color: #007bff; text-decoration: none; font-weight: bold;">Website</a>
    <a href="https://docs.vana.org/vana" target="_blank" style="color: #007bff; text-decoration: none; font-weight: bold;">Documentation</a>
  </div>
</div>

<div class="container">
  <h1>{{ title }}</h1>
  <h2>Connected Clients and Stats</h2>
  <div *ngIf="clients.length > 0; else noClients">
    <div class="table-responsive">
      <table class="table table-hover table-striped table-bordered">
        <thead>
          <tr>
            <th>Client ID</th>
            <th>Latency (ms)</th> 
            <th>Peers</th>
            <th>Pending Txs</th>
            <th>Block Number</th>
            <th>Block Hash</th>
            <th>Block Transaction Count</th>
            <th>Gas Used</th>
            <th>Gas Price</th>
            <th>Syncing</th>
            <th>Uptime</th>
            <th>Balance</th>
            <th>Status</th>
            <th>Effective Balance</th>
            <th>Slashed</th>
          <!--   <th>Activation Eligibility Epoch</th> -->
          <!--   <th>Activation Epoch</th> -->
            <th>Exit Epoch</th>
            <th>Withdrawable Epoch</th>
            <th>Geth OS Platform</th>
            <th>Geth OS Version</th>
            <th>Geth CPU %</th>
            <th>Geth Memory Usage</th>
            <th>Geth Memory Limit</th>
            <th>Beacon OS Platform</th>
            <th>Beacon OS Version</th>
            <th>Beacon CPU %</th>
            <th>Beacon Memory Usage</th>
            <th>Beacon Memory Limit</th>
            <th>Validator OS Platform</th>
            <th>Validator OS Version</th>
            <th>Validator CPU %</th>
            <th>Validator Memory Usage</th>
            <th>Validator Memory Limit</th>
            <th>Transactions</th>
          </tr>
        </thead>
        <tbody>
          <!-- Iterating over 'clients' -->
          <tr *ngFor="let client of clients">
            <td>{{ client.id }}</td>
            <td>{{ client.stats.latency }} ms</td> 
            <td>{{ client.stats.peers }}</td>
            <td>{{ client.stats.pending }}</td>
            <td>{{ client.stats.block.number }}</td>
            <td>{{ client.stats.block.hash }}</td>
            <td>{{ client.stats.block.blockTransactionCount }}</td>
            <td>{{ client.stats.block.gasUsed }}</td>
            <td>{{ client.stats.gasPrice }}</td>
            <td>{{ client.stats.syncing }}</td>
            <td>{{ client.stats.uptime }}</td>
            <td>{{ client.stats.validator.balance }}</td>
            <td>{{ client.stats.validator.status }}</td>
            <td>{{ client.stats.validator.effectiveBalance }}</td>
            <td>{{ client.stats.validator.slashed }}</td>
          <!--  <td>{{ client.stats.validator.activation_eligibility_epoch }}</td> -->
          <!--  <td>{{ client.stats.validator.activation_epoch }}</td> -->
            <td>{{ client.stats.validator.exit_epoch }}</td>
            <td>{{ client.stats.validator.withdrawable_epoch }}</td>
            
            <!-- Geth container stats -->
            <td>{{ client.stats.containers.geth.osPlatform }}</td>
            <td>{{ client.stats.containers.geth.osVersion }}</td>
            <td>{{ client.stats.containers.geth.cpuPercentage }}</td>
            <td>{{ client.stats.containers.geth.memoryUsage }}</td>
            <td>{{ client.stats.containers.geth.memoryLimit }}</td>

            <!-- Beacon container stats -->
            <td>{{ client.stats.containers.beacon.osPlatform }}</td>
            <td>{{ client.stats.containers.beacon.osVersion }}</td>
            <td>{{ client.stats.containers.beacon.cpuPercentage }}</td>
            <td>{{ client.stats.containers.beacon.memoryUsage }}</td>
            <td>{{ client.stats.containers.beacon.memoryLimit }}</td>

            <!-- Validator container stats -->
            <td>{{ client.stats.containers.validator.osPlatform }}</td>
            <td>{{ client.stats.containers.validator.osVersion }}</td>
            <td>{{ client.stats.containers.validator.cpuPercentage }}</td>
            <td>{{ client.stats.containers.validator.memoryUsage }}</td>
            <td>{{ client.stats.containers.validator.memoryLimit }}</td>

            <!-- Button to toggle transactions visibility -->
            <td>
              <button (click)="client.showTransactions = !client.showTransactions">
                {{ client.showTransactions ? 'Hide' : 'Show' }} Transactions
              </button>
            </td>
          </tr>

          <!-- Displaying transactions in a separate row -->
          <tr *ngFor="let client of clients">
            <ng-container *ngIf="client.showTransactions">
              <td colspan="30"> <!-- Full-width for the transactions -->
                <ul>
                  <li *ngFor="let tx of client.stats.block.transactions">
                    {{ tx }}
                  </li>
                </ul>
              </td>
            </ng-container>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <ng-template #noClients>
    <p>No clients connected at the moment.</p>
  </ng-template>
</div>
